nav {
    height: fit-content;
    position: sticky;
    width: 100%;
    padding: 1rem clamp(3rem, 5vw, 5rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: stickyNav linear forwards;
    box-sizing: border-box;
    animation: blurNav linear forwards;
    animation-timeline: view();
    animation-range-start: 120vh;
    animation-range-end: 200vh;
    z-index: 15;
}

@keyframes blurNav {
    100% {
        backdrop-filter: blur(5px);
        padding-bottom: 10px;
        background-color: var(--second-color);
    }
}
#open-work:hover {
    background-color: var(--second-color);
    transition: background-color 0.3s ease;

}

.main-nav {
    padding-top: 10px;
}

#header-logo {
    height: fit-content;
    position: relative;

    img {
        animation: displayLogo linear forwards;
        opacity: 1;
        animation-timeline: view();
        animation-range-start: 150vh;
        animation-range-end: 180vh;
        width: clamp(250px, 20vw, 321px);

    }
}



@keyframes displayName {

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "Daniel Fontalva Web Developer";
        transform: translateY(50px);
    }
}


@keyframes displayLogo {
    100% {
        opacity: 0;

    }
}

.menu-on-nav {
    display: flex;
    gap: clamp(1rem, 4vw, 5rem);
    list-style-type: none;
    margin: 0;
    padding: 0;

}




.menu-on-nav li {
    align-self: center;
    margin: 10px 0;
    color: white;
    font-size: var(--font-s);
    font-weight: 600;
    min-width: fit-content;

    a {

        text-decoration: none;
        font-size: var(--font-m);
        color: white;
        font-weight: 600;
        transition: color 0.3s ease;
        padding: 3px;
        position: relative;

    }

}




.menu-on-nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease;
}

.menu-on-nav li a:hover::after,
.menu-on-nav li a.active::after {
    width: 100%;
}

/* .menu-on-nav li a:hover,
.menu-on-nav li a.active {

} */



.menu-on-nav li:nth-of-type(5) a {
    background-color: var(--main-color);

    padding: 10px 20px;
    transition: background-color 0.3s ease;

}

.menu-on-nav li:nth-of-type(5) a:hover {
    background-color: var(--second-color);
    background-size: calc();
}




.nav-bar {
    position: relative;
    width: 40px;
    background: transparent;
    cursor: pointer;
    height: 30px;
    display: none;
    margin-left: auto;
}

.nav-bar input {
    display: none;
}

.nav-bar span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.nav-bar:hover span {
    background-color: var(--main-color);
}

.nav-bar span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.nav-bar span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.nav-bar span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.nav-bar.open span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.nav-bar.open span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.nav-bar.open span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}



@media (max-width: 800px) {


    nav {
        justify-content: flex-end;
        padding-top: 20px;
    }

    .nav-bar {
        display: flex;
        cursor: pointer;
        z-index: 14;
    }

    #header-logo::after {
        display: none;

    }

    .menu-on-nav {
        display: none;
    }

    #header-logo {
        display: none;

    }


    .menu-mobile {
        display: block;
        width: 400px;
        border-radius: 0 0 0 15px;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        right: 0;
        animation: fade-in-mobile .3s ease-in;
    }


    @keyframes fade-in-mobile {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .menu-mobile .menu-on-nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
        padding: 1rem 0;
        margin-top: 10vh;
    }

    .menu-mobile .menu-on-nav li a {
        font-size: 1rem;
        animation: none;
    }

    .menu-on-nav .button a {
        font-size: 2rem;
    }

    .menu-on-nav li a:hover {
        color: rgb(255, 255, 255);

    }
}

@media (max-width: 800px) {
    .menu-mobile {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

}