.about-main {
    background-image: url(../images/desti-istambul-portada.jpg);
    background-image: url(../images/desti-istambul-portada.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top: -100px;
    width: auto;
    align-items: center;

    .about-main-content {
        width: fit-content;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        gap: 20px;

        .about-title {
            font-size: var(--font-xl);
            color: white;
            padding: 200px 8vw;

        }

        .about-title span {
            color: var(--contrast-color);
        }


    }
}