@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&display=swap');

@font-face {
    font-family: 'SuffolkPunch';
    src: url(/assets/fonts/suffolkPunch.ttf),
        url(/assets/fonts/suffolkPunch.woff),
        url(/assets/fonts/suffolkPunch.woff2);
}

html {
    font-family: suffolkPunch;
    src: url(SuffolkPunch\ Arctic\ Monkeys\ The\ Car.ttf);
    box-sizing: border-box;
    background-color: #050505;
}

body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    display: flex;
    flex-flow: column nowrap;
}

.heroSection {
    width: 100%;
    height: 100vh;
    background-image: url(../images/Background_hero.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

h1 {
    font-size: 64px;
    color: white;
    font-style: normal;
    padding: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    margin-left: 20%;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

header>.texto {

    font-size: 20px;
    color: white;
    padding: 3% 1%;
    text-align: center;
    box-sizing: border-box;
}

.texto:hover {
    box-shadow: #423E3D 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
    border-radius: 2px;
}

/*.texto:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px -50px 36px -28px inset;cursor: pointer;
} */
.headerBox {
    flex-grow: 0.8;
}

.heroLogo {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 3%;
}

.logo {
    width: 30%;
    border: 1px solid white;
}

.socialLinks {
    border: 1px solid white;
    display: flex;
    flex-flow: column nowrap;
    margin: 3%;
    width: 5%;
    align-items: center;
}

.socialIcon {
    width: 34px;
    padding: 14px;

}

.socialIcon:hover {
    box-shadow: #423E3D 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
    cursor: pointer;
    border-radius: 2px;
}

.lineaContainer {
    height: 150px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea {
    border: 1px solid white;
    height: 90%;
}


.firstPage {
    padding: 5%;
    height: 100%;
}

.polaroidSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.polaroidFormat {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: 0px;
    justify-content: space-around;
}

.polaroid {
    background-color: white;
    width: 330px;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.polaroidFormat>p {
    color: white;
    width: 427px;
    margin: 25px;
}

#type1 {
    margin-right: auto;

}

#type2 {
    margin-left: auto;
}

.emptySpace2 {
    flex-grow: 0.5;
    width: 15%;
}

.polaroid img {
    margin-bottom: 0px;
    flex: 0.5;
}

.polaroidText {
    font-size: 24px;
    color: black;
    font-family: 'Mynerve', sans-serif;
    text-align: center;
    position: relative;
}

.firstAlbum {
    padding: 5%;
    display: flex;
    flex-flow: column;
    text-align: left;
}

#album-format {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.albumImage {
    flex: 0.4;
    min-width: 400px;
}

.albumText {
    font-size: 20px;
    color: white;
    display: flex;
    flex-flow: column nowrap;

    max-width: 500px;
    font-family: 'Montserrat', sans-serif;

}

.albumImage img {
    width: 100%;
}

/*-----------------------------NEW Style Section-----------------------------*/

.new-style {
    height: 100vh;
    width: 100%;
    background-image: url(../images/new_style.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    padding: 100px;
    box-sizing: border-box;
}

.style-flex {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 0;

}

.style-flex p {
    font-size: 1rem;

    font-family: Montserrat;
    color: white;
}

#start-new-style-flex {
    margin-left: auto;
    min-width: 250px;
    width: 30%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}

#middle-new-style-flex {
    flex-grow: 1;
    height: 300px;

}

#end-new-style-flex {
    margin-right: auto;
    min-width: 250px;
    width: 30%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}