html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
body{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

#structure {
    display: flex;
    flex-flow: column;
    padding: 20px;

}
#structure2 {
    display: flex;
    flex-flow: column;
    padding: 20px;

}

#copying {
    border: 1px solid black;
    height: 100%;
}
#copying2 {
    border: 1px solid black;
    height: 100%;
}

#title {
  font-size: x-large;
    font-weight: bold;
}
#title2 {
  font-size: x-large;
    font-weight: bold;
}