@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&display=swap');

@font-face {
    font-family: 'Kamerik-Bold';
    src: url(/assets/fonts/Kamerik\ 205\ Bold.ttf),
}

@font-face {
    font-family: 'Kamerik-Heavy';
    src: url(/assets/fonts/Kamerik\ 205\ Heavy.ttf),
}

@font-face {
    font-family: 'Kamerik-Light';
    src: url(/assets/fonts/Kamerik\ 205\ Light.ttf),
}
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
height: 100%;
}

:root {
    --colorGrey: #464646;
    --colorBlue: #265FA3;
    --colorWhite: #FFFEFC;
}
















footer {
    background-color: #2D2D2D;
    color: var(--colorWhite);
}

.footerBox a {
    color: var(--colorWhite);
}

.footerTitle {
    color: var(--colorWhite);
}



.socialLinks {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 50px;
    width: 5%;
    align-items: center;
    float: right;
}

.socialIcon {
    width: 34px;
    padding: 14px;

}



#footerSocialLinks{
    color: var(--colorWhite);

}


#indexTitleFooter h2 {
    color: var(--colorWhite);
}

#linedSubtitleFooter h3 {
    color: var(--colorWhite);
}

.line2 {
    background-color: var(--colorWhite);
  
}

#linedStructureFooter h1 {
    color: var(--colorWhite);
}