@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mynerve&display=swap');

@font-face {
    font-family: 'Kamerik-Bold';
    src: url(/assets/fonts/Kamerik\ 205\ Bold.ttf),
}

@font-face {
    font-family: 'Kamerik-Heavy';
    src: url(/assets/fonts/Kamerik\ 205\ Heavy.ttf),
}

@font-face {
    font-family: 'Kamerik-Light';
    src: url(/assets/fonts/Kamerik\ 205\ Light.ttf),
}
:root {
    --colorGrey: #464646;
    --colorBlue: #265FA3;
    --colorWhite: #FFFEFC;
}



html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: solid black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}


/*-------------------HERO SECTION-------------------*/

#heroSection {
    background-image: url(../images/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.indexTitle {
    padding: 170px 140px 30px 140px;
}


.socialLinks {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 50px;
    width: 5%;
    align-items: center;
    float: right;
}

.socialIcon {
    width: 34px;
    padding: 14px;

}

/*--------------------MOTO SECTION-------------------*/

#motoSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
    padding: 100px;

}

#motoSection img {
    width: 860px;
    height: 574px;
}

#moto {
    font-family: kamerik-bold;
    display: flex;
    width: 800px;
    flex-flow: column;
}

#moto h1 {
    font-size: 70px;
    color: #3D3D3D;

    margin: 0;
    font-weight: 100;

    display: inline-block;
    padding: 36px 0;
}

#moto h1 span {
    color: var(--colorBlue);
}

#moto h2 {
    font-size: 64px;
    color: #3D3D3D;
    margin: 0;
    font-weight: 100;

    display: inline-block;
}

#moto h3 {
    font-size: 24px;
    color: #3D3D3D;
    margin: 0;
    font-weight: 100;

    width: 350px;
}

#first-part {
    display: flex;
    flex-flow: row;
    align-items: center;
}

#third-part {
    display: flex;
    flex-flow: row;
    align-items: center;
}



/*-------------------CONTENT SECTION-------------------*/

.contentPage {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: montserrat;
}

#contentSection1 {
    background-image: url(/assets/images/climbing-wall.png);
}

#contentSection2 {
    background-image: url(/assets/images/climbing-mountains.png);
}


.contentPage h1 {
    font-family: 'Kamerik-bold';
    font-size: 48px;
    color: var(--colorBlue);

    font-weight: 100;

}

.gradient {
    background: linear-gradient(90deg, #FFF 34%, rgba(255, 255, 255, 0.50) 67%, rgba(255, 255, 255, 0.00) 100%);
    width: 960px;
    height: 100vh;
}

#gradient2 {
    background: linear-gradient(-90deg, #FFF 44%, rgba(255, 255, 255, 0.00) 100%, rgba(255, 255, 255, 0.50) 75%);
    float: right;
    width: 960px;
    height: 100vh;
}

.contentPage-text {
    padding: 100px;
}

.contentPage-text p {
    width: 550px;
    font-size: 20px;
    line-height: 30px;
    /* 150% */
}

.contentPage-subtitle {
    color: #000000;
    font-family: Montserrat;
    font-size: 32px;
    width: 650px;
}

.contentPage-list {
    width: 550px;
    font-size: 20px;
    position: relative;
    right: 40px;
}

#reachingSection {
    background-image: url(/assets/images/alaska2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 100px;

}

#reachingSection h1 {
    color: var(--colorGrey);

}

#reachingSection h3 {
    color: var(--colorGrey);

}

#reachingSection .line2 {
    height: 3px;
    background-color: var(--colorGrey);
    width: 230px;
}

#secondTitle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    text-align: center;

}

#lastSection {
    margin: 0;
    padding: 0;
height: 100vh;
}

#lastSection img {
    width: 100%;
}

#lastSection-text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding: 3%;
    align-items: center;
    align-content: center;
}

#lastSection-firstText {
    width: 600px;
}

#lastSection-firstText h1 {
    color: var(--colorBlue);
    font-size: 48px;
    font-family: kamerik-bold;
    font-weight: 100;
}

#lastSection-secondText {

    width: 600px;
}

#lastSection-secondText h2 {

    font-size: 32px;
}

footer {
    background-color: #E8E8E8;
}
.footerBox a {
    color: var(--colorGrey);
}

.footerTitle {
    color: var(--colorGrey);
}







#footerSocialLinks{
    color: var(--colorGrey);

}


#indexTitleFooter h2 {
    color: var(--colorGrey);
}

#linedSubtitleFooter h3 {
    color: var(--colorGrey);
}

.line2 {
    background-color: var(--colorGrey);
  
}

#linedStructureFooter h1 {
    color: var(--colorGrey);
}