#hero-section{

    display: flex;
min-height: 900px;
height: 100vh;
width: auto;
align-items: center;

background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 47.03%,  #000 99.99%), url(../images/hero-section.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

#hero-section-content{
    color: white;
    display: flex;

flex-direction: column;
align-items: flex-start;
margin: 200px;
gap: 60px;
}

 #title{
    font-size: 5rem;
    font-family: AudioWide, sans-serif;
    font-weight: 400;
    line-height: normal;
    color: white;
    
}



#hero-section-content span{
color: var(--green);
    
}
#hero-section-content p{
    font-size: 1.7rem;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 5px;
}
#hero-section-content h2{
    font-size: 2rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-style: italic;
}
#hero-buttons .button{
  font-family: AudioWide, sans-serif;
padding: 24px;
align-items: center;
cursor: pointer;
}

#hero-buttons {
   display: flex;
   gap:80px;
}

#hero-buttons :nth-child(2){
    background-color: white;
    border-radius: 5px;
}
@media (max-width: 1450px) {
    #hero-section {
        min-height: 700px;
    }

    #hero-section-content {
        margin: 100px;
        gap: 40px;
    }

    #hero-section-content #title {
        font-size: 3rem;
    }

    #hero-section-content p {
        font-size: 1rem;
    }

    #hero-section-content h2 {
        font-size: 1.2rem;
    }

    #hero-buttons {
        gap: 40px;
    }

    #hero-buttons .button {
        padding: 16px;
        font-size: 1.2rem;
    }
}
@media (max-width: 950px) {
    #hero-section {
        min-height: 500px;
    }

    #hero-section-content {
        margin: 50px;
        gap: 20px;
    }

    #hero-section-content #title {
        font-size: 2rem;
    }

    #hero-section-content p {
        font-size: 0.9rem;
    }

    #hero-section-content h2 {
        font-size: 1rem;
    }

    #hero-buttons {
        gap: 20px;
        flex-direction: column;
    }

    #hero-buttons .button {
        padding: 12px;
        font-size: 1rem;
    }
    #cite {width: 100%;}

}


#review-svg{
position: absolute;
}


#review-section {
    position: relative;
    max-width: 100vw;
margin-top: 50px;
    display: flex;
padding: clamp(2rem, 4.5vw, 7rem);
flex-direction: column;
align-items: center;
box-sizing: border-box;
overflow: hidden;
gap: 40px;
}

#cite {
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: clamp(1.5rem, 3.5vw, 3.5rem);
font-style: italic;
font-weight: 400;
line-height: normal;
width: 80%;
}
#chef-content {
    align-items: center;
text-align: center;
    color: white;
}
#chef-content h2 {
    font-size: 2rem;
    font-family: AudioWide;
    font-weight: 400;

}
#chef-content p {
    font-size: 1.2rem;
    font-family: Poppins;
    font-weight: 400;

}


#section-divisor{

  width: 100%; /* O el ancho deseado */

height: clamp(200px, 50vw, 600px);
background-image: url(../images/section-divisor.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


#origin-svg{
    position: absolute;
    bottom: 50px;
    }
#origin-section {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    max-width: 100vw;
margin-top: 50px;
    display: flex;
    padding:  100px 200px 200px 200px;
align-items: space-around;
box-sizing: border-box;
overflow: hidden;

}

#title2{
    font-size: 5rem;
    font-family: AudioWide, sans-serif;
    font-weight: 400;
    line-height: normal;
    color: rgb(122, 122, 122);
}
#title2 span{
    color: var(--green);
}    
#arrow {
    align-self: flex-end;
    padding-left: 250px;
}

#original-section-design{
    flex: 1;
   width: 40%;
   align-self: flex-start;
}
#origin-section-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    max-width: 40%;
}

#origin-section-title {
    color: var(--green);
    font-size: 3rem;
    font-weight: 700;
}
#origin-section-text {
    color: white;
font-size: 1.5rem;
line-height: 40px; 
}

@media (max-width: 1620px) {
    #arrow {
        align-self: flex-end;
        padding-left: 100px;
    }
}
@media (max-width: 1500px) {
    #origin-section {
        padding: 100px 100px 100px 100px;
        gap: 40px;
    }

    #origin-section-title {
        font-size: 2.5rem;
    }

    #origin-section-text {
        font-size: 1.25rem;
      
    }
}
@media (max-width: 1150px) {
    
    #origin-section {
        
        flex-direction: column;
        justify-content: center;

    }

    #origin-section-content {
        max-width: 100%;
    }

    #origin-section-title {
        font-size: 2.25rem;
    }

    #origin-section-text {
        font-size: 1.25rem;
        line-height: 30px;
    }

  
    #arrow {
        display: none;
    }
}

@media (max-width: 850px) {
    #origin-section {
        padding: 25px 50px 50px 50px;
        gap: 20px;
    }
    #origin-section-title {
        font-size: 2rem;
    }

    #origin-section-text {
        font-size: 1rem;
    }
    #inspiration-images {
        flex-flow: column;
        margin-top: 40px;
        width: 50%;
        box-sizing: border-box;
    }
}


#inspiration-section{
    display: flex;
padding: 100px 200px;
flex-direction: column;
align-items: center;
gap: 100px;

}

#inspiration-section-content{
    display: flex;
justify-content: space-between;
align-items: stretch;
align-self: stretch;
height: 100%;
flex-flow: row wrap;
}
.inspiration-p{
    display: flex;
width: 428px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}
.inspiration-title{
    color: white;
font-family: Poppins;
font-size: 1.5rem;
}
.inspiration-text{
    color: white;
    font-family: Poppins;
    font-size: 1.25rem;
}

.separator{
    width: 1px;
    height: 210px;
    background-color: white;
    align-self: stretch;
    min-height: 100%;
}

#inspiration-images {
    display: flex;
height: 444px;
padding: 0px 200px;
justify-content: center;
align-items: center;
gap: 100px;
align-self: stretch;
}
#inspiration-images img{
    max-width: clamp(300px, 80%, 100%);
   height: auto;
   flex-shrink: 1;
   flex-grow: 0;
    
}

@media (max-width: 1300px) {
#inspiration-section {
    padding: 100px 100px 100px 100px;
    gap: 40px;
}

    .inspiration-p {
        width: 30%;
        gap: 20px;
    
    }
    .separator {
display: none;
    }
    .inspiration-text{
        font-size: 1rem;
    }
}
@media (max-width: 1000px) {
    #inspiration-section-content {
      gap: 30px;
      justify-content: center;
     
    }
    #imspiration-section {
        padding: 50px 50px 50px 50px;
    }
        .inspiration-p {
            line-height: 30px;
      width: 90%;
      gap: 15px;
        }
        .inspiration-text{
            font-size: 1rem;
        }
        .inspiration-title{
            font-size: 1.25rem;
        }
}

#booking {
    display: flex;
  justify-content: center;
padding: 100px 200px;
align-items: center;
gap: 10px;
align-self: stretch;
    background:  linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000 100%), url(../images/book.jpg) lightgray 50% / cover no-repeat;

}
#booking-flex{
    flex-flow: row wrap;
    display: flex;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-content: center;
gap: 50px;
}
#booking-title{
    text-align: center;
    color: white;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 80px */
    align-self: stretch;
    align-self: center;
    margin: 50px;
}

 
.form {
    background-color: black;
    
  justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    padding: 96px 80px;
  }
  
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form input[type="name"],
  .form input[type="request"],
  .form input[type="data"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--black-half);
    outline: 2px solid var(--grey-dark);
  }
  #data {
    font-family: poppins;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: #333333;
    color: white;
  }
  
  .form input[type="name"]:focus,
  .form input[type="request"]:focus {
    outline: 2px solid var(--green);
  }
  
  .label {
    align-self: flex-start;
    color: var(--green);
    font-weight: 600;
  }
  
  .form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--green);
    color: black;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 1.2rem;
    max-height: 50px;
    align-content: center;
    align-self: center;
  }
  
  .form .submit:hover {
    background-color: var(--darkgreen);
    color: black;
    letter-spacing: 2px;

  }
  
  .span {
    text-decoration: none;
    color: var(--grey-dark);
  }
  
  .span a {
    color: var(--green);
  }
  


.radio-inputs {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
width: 100%;
    font-size: 14px;
  justify-content: space-between;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgb(0, 0, 0);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: var(--green);
    font-weight: 600;
  }