#menu-main-page {
    display: flex;
    height: 100%;
    padding: 300px 200px 200px 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 30%, #000 100%), url(../images/restaurant.jpg) lightgray 50% / cover no-repeat;
}


#menu-main-title {
    color: white;
    font-size: 5rem;
    font-family: Poppins;
    font-style: italic;
    font-weight: 700;
}

#specialities {
    display: flex;
    padding: 100px 200px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

#specialities-content {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 0;
}

#specialities-text {
    color: var(--text-default, #FFF);
    text-align: center;
    font-family: Audiowide;
    font-size: 3rem;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 80px */
}

#specialities-text span {
    color: var(--green);
}

#food-expositor {
    display: flex;
    padding: 100px 200px 200px 200px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    align-self: stretch;
}

#food-expositor-title {
    color: var(--verde, #BEEEA4);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#food-expositor img {
    width: 100%;
}

#food-expositor-text {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 70%;
}

#food-expositor-text2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 70%;
}

#menu-section {
    background: url(../images/Fushion.svg) repeat center center;
    display: flex;
    padding: 200px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: white;

}

#menus {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    align-self: stretch;
    flex-flow: row wrap;
    gap: 130px;
    padding-bottom: 100px;
}

.menu {
    display: flex;
    width: 564px;
    flex-direction: column;
    align-items: flex-start;
    gap: 140px;
    color: black;
    align-content: center;
    justify-content: center;
 
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}
.menu-main-title {
    font-family: audiowide;
    font-size: 3rem;
}
.menu-main-title span {
    color: var(--green);
}
.menu-title {
    font-size: 1.5rem;
}
.menu-text {
    font-size: 1rem;
}
 #menu-svg {
    position: absolute;
 }


 .container {
    width: 80%;
    margin: 0 auto;
    columns: 3 300px;


}
#title4{
    font-size: 5rem;
    font-family: AudioWide, sans-serif;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    text-align: center;
    padding: 50px;
}
#title4 span{
   color: #BEEEA4;
}


.container img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border-image: fill 0 linear-gradient( black, rgb(243, 243, 243)) ;
}

@media (max-width: 768px) {
    #menu-main-page {
        padding: 150px 100px 100px 100px;
        gap: 50px;
    }

    #menu-main-title {
        font-size: 3rem;
    }

    #specialities {
        padding: 50px 100px;
        gap: 5px;
    }

    #specialities-text {
        font-size: 2rem;
        width: 100%;
    }

    #food-expositor {
        padding: 50px 100px 100px 100px;
        gap: 50px;
    }

    #food-expositor-title {
        font-size: 32px;
    }

    #food-expositor-text {
        font-size: 25px;
        max-width: 70ch;
    }

    #menu-section {
        padding: 100px;
        gap: 52.5px;
    }

    #menus {
        height: auto;
        flex-direction: column;
        gap: 50px;
    }

    .menu {
        width: 100%;
    }
    #title4 {
        font-size: 3rem;
    }
}

@media (max-width: 1330px) {
    #menu-main-page {
        padding: 200px 150px 150px 150px;
        gap: 75px;
    }

    #menu-main-title {
        font-size: 4rem;
    }

    #specialities {
        padding: 75px 150px;
        gap: 7px;
    }

    #specialities-text {
        font-size: 4rem;
    }

    #food-expositor {
        padding: 75px 150px 150px 150px;
        gap: 75px;
    }

    #food-expositor-title {
        font-size: 48px;
    }

    #food-expositor-text {
        font-size: 40px;
        width: 100%;
    }

    #menu-section {
        padding: 150px;
        gap: 80px;
    }

    #menus {
    
        gap: 75px;
    }


}

@media (max-width: 480px) {
    #menu-main-page {
        padding: 100px 50px 50px 50px;
        gap: 25px;
    }

    #menu-main-title {
        font-size: 2rem;
    }

    #specialities {
        padding: 25px 50px;
        gap: 2px;
    }

    #specialities-text {
        font-size: 1.5rem;
        width: 100%;
    }

    #food-expositor {
        padding: 25px 50px 50px 50px;
        gap: 25px;
        text-align: left;
    }

    #food-expositor-title {
        font-size: 24px;
        text-align: left;

    }

    #food-expositor-text {
        font-size: 1rem;
        max-width: 70ch;
        line-height: 2;
        text-align: left;

    }

    #menu-section {
        padding: 50px;
        gap: 26.25px;
    }

    #menus {
        height: auto;
        flex-direction: column;
        gap: 45px;
    }

    .menu {
        width: 100%;
        gap: 4rem;
    }
}