.grid-gallery {
    display: grid;
    width: 90%;
    border: 1px solid black;
    column-gap: 15px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 100%);

    .cell-tall {
        grid-row: span 2 / auto;
    }

    .cell-wide {
        grid-column: span 2 / auto;
    }
}